<template>
  <v-container fluid="false">
    <span class="display-1 mt-6">Añadir nuevo material al inventario</span>
    <v-form v-model="valid" class="mt-8" ref="form">
      <v-row>
        <v-col cols="6" md="6" class="py-0" >
          <v-row>
            <v-col cols="6" md="6">
              <v-text-field v-model="material.name" :rules="validationRules.name" :counter="200" label="Nombre" required outlined></v-text-field>
            </v-col>
            <v-col cols="6"  md="6">
              <v-text-field v-model="material.sku" :rules="validationRules.sku" :counter="200" label="Referencia" required outlined ></v-text-field>
            </v-col>
            <v-col cols="8" md="8">
              <v-combobox
                  v-model="material.tags"
                  :items="availableTags"
                  chips
                  label="Etiquetas"
                  multiple
              >
                <template v-slot:selection="{ attrs, item, select, selected }">
                  <v-chip
                      v-bind="attrs"
                      :input-value="selected"
                      close
                      @click="select"
                      @click:close="remove(item)"
                  >
                    <strong>{{ item }}</strong>&nbsp;
                    <span>(interest)</span>
                  </v-chip>
                </template>
              </v-combobox>
            </v-col>
            <v-col cols="4" md="4">
              <v-text-field
                v-model.number="material.minimunUnits"
                label="Unidades mínimas"
                outlined
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="12">
          <characteristic-table v-model="properties"></characteristic-table>
          <v-row>
            <v-col>
              <v-textarea v-model="material.annotation" label="Descripción" auto-grow :counter="400" flat ></v-textarea>
            </v-col>
          </v-row>
        </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" md="6" class="py-0" >
          <stock-form v-model="material.stock"></stock-form>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="text-right">
          <v-btn color="teal lighten-5" x-large v-on:click="sendForm">Guardar</v-btn>
        </v-col>
      </v-row>
     </v-form>
  </v-container>
</template>

<script>
import Vue from 'vue'
import characteristicTable from '../CharacteristicTable'
import stockForm from '../stock/StockForm'
export default {
  name: "MaterialsNew",
  components:{
    characteristicTable,
    stockForm
  },
  data: () => ({
      datemenu: false,
      valid: false,
      validationRules:{
        name: [
          v => !!v || 'El nombre no puede estar vacío',
          v => v.length <= 200 || 'El nombre no puede tener mas de 200 carácteres',
        ],
        sku: [
          v => v.length <= 200 || 'El nombre no puede tener mas de 200 carácteres',
        ],
        annotation: [
          v => v.length <= 400 || 'La descripción sobre el material no puede tener mas de 400 carácteres',
        ]
      },
      properties: [
        {name: "", value:""}
      ],
      availableTags: [],
      material: {
        name: '',
        sku: '',
        annotation: '',
        tags: [],
        minimunUnits:0,
        stock: {
          acquisitionDate: new Date().toISOString().substr(0, 10),
          addedCosts: [
            {description: '', price: 0.00}
          ],
          units: 0.0,
          total: 0.0,
          unitPrice: 0.0
        }
      }
  }),
  mounted (){
    this.getTags()
  },
  methods: {
    getTags: function(){
      this.$http.get('/tags/').then(function(response) {
        this.availableTags = response.body.data
      })
    },
    sendForm: function () {
      if (this.$refs.form.validate()) {
        this.sendMaterial()
      }else{
        this.$notify({
          group: "error",
          type:"error",
          text: "Parece que hay algún error en el formulario, por favor revisalo y vuelve a enviarlo"
        });
      }
    },
    sendMaterial: function () {
      this.$http.post('/materials', this.generateMaterialBody()).then(response => {
        this.$router.go(-1)
      }, response => {

      })
    },
    generateMaterialBody: function () {
      let body = this.material
      let cleanedProperties = this.properties.filter(function (characteristic) { return characteristic.name !== '' && characteristic.value !== '' })
      let convertedProperties = {}
      cleanedProperties.forEach(function(property){
        convertedProperties[property.name] = property.value
      })
      body['properties'] = convertedProperties
      body["stock"]['added_costs'] = this.material.stock.addedCosts.filter(function (addedCost) { return addedCost.description !== '' })
      return body
    },
  }
}
</script>