<template>
  <v-container>
    <span class="display-1 mt-6">Modificar {{oldName}}</span>
    <v-form v-model="valid" class="mt-8" ref="form">
      <v-row>
        <v-col
          cols="12"
          md="6"
          class="py-0"
        >
          <v-text-field
            v-model="material.name"
            :rules="validationRules.name"
            :counter="200"
            label="Nombre"
            outlined
            required
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          class="py-0"
          md="6"
        >
          <v-text-field
            v-model="material.sku"
            :rules="validationRules.sku"
            :counter="200"
            label="Referencia"
            required
            outlined
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row class="mt-5">
        <v-col md="6">
          <v-text-field
            v-model.number="material.minimunUnits"
            label="Unidades mínimas"
            outlined
          ></v-text-field>
        </v-col>
        <v-col md="6">
          <v-textarea
            v-model="material.annotation"
            label="Descripción"
            auto-grow
            outlined
            :counter="400"
            flat
          ></v-textarea>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="12" >
          <characteristic-table v-model="properties"></characteristic-table>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="text-right">
          <v-btn color="teal lighten-5" x-large v-on:click="sendForm">Guardar</v-btn>
        </v-col>
      </v-row>
     </v-form>
  </v-container>
</template>

<script>
import Vue from 'vue'
import characteristicTable from '../CharacteristicTable'
export default {
  name: "MaterialsUpdate",
  components:{
    characteristicTable,
  },
  data: () => ({
      datemenu: false,
      valid: false,
      validationRules:{
        name: [
          v => !!v || 'El nombre no puede estar vacío',
          v => v.length <= 200 || 'El nombre no puede tener mas de 200 carácteres',
        ],
        sku: [
          v => v.length <= 200 || 'El nombre no puede tener mas de 200 carácteres',
        ],
        annotation: [
          v => v.length <= 400 || 'La descripción sobre el material no puede tener mas de 400 carácteres',
        ]
      },
      oldName: "",
      properties: [
        {name: "", value:""}
      ],
      material: {
        name: '',
        sku: '',
        annotation: ''
      }
  }),
  mounted () {
    this.getMaterial()
  },
  methods: {
    sendForm: function () {
      if (this.$refs.form.validate()) {
        this.sendMaterial()
      }else{
        console.log("error")
      }
    },
    sendMaterial: function () {
      this.$http.put(`/materials/${this.$route.params.id}`, this.generateMaterialBody()).then(response => {
        this.$router.go(-1)
      }, response => {

      })
    },
    getMaterial: function () {
      var itemId = this.$route.params.id
      this.$http.get('/materials/' + itemId).then(function (response) {
        this.material = response.body.data

        this.oldName = response.body.data["name"]
        if(Object.keys(response.body.data["properties"].length > 0)){
          this.properties = []
          Object.keys(response.body.data["properties"]).forEach(key => {
            this.properties.push({name: key, value: response.body.data["properties"][key]})
          })
        }
      }, function () {
        this.$notify({
          group: 'error',
          text: "algo va mal en el servidor"
        })
      })
    },
    generateMaterialBody: function () {
      let body = this.material
      let cleanedProperties = this.properties.filter(function (characteristic) { return characteristic.name !== '' && characteristic.value !== '' })
      let convertedProperties = {}
      cleanedProperties.forEach(function(property){
        convertedProperties[property.name] = property.value
      })
      body['properties'] = convertedProperties
      return body
    }
  }
}
</script>