<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="inventory"
      multi-sort
      class="elevation-1"
      item-key="id"
      :loading="retrievingData"
      :options.sync="options"
      :calculate-widths=true
      :server-items-length="totalMaterials"
      :expanded.sync="expanded"
      show-expand
    >
      <template v-slot:progress>
        <v-progress-linear color="blue lighten-2" :height="10" indeterminate></v-progress-linear>
      </template>

      <template
        v-slot:no-data>Vaya, parece que no has añadido ningún material a tu almacén, <router-link to="/material/new">añadelo ahora.</router-link></template>

      <template v-slot:no-results>No hemos encontrado ningún material que coincida con la busqueda</template>

      <template v-slot:item.averageUnitPrice="{ item }"> {{item.averageUnitPrice | currency}}</template>
      <template v-slot:item.totalUnits="{ item }"> {{item.totalUnits | decimals}}</template>
      <template v-slot:item.totalPrice="{ item }"> {{item.totalPrice | currency}}</template>

      <template v-slot:expanded-item="{ headers, item }">
        <td></td>
        <td :colspan="8">
          <v-row no-gutters>
            <v-col cols="5" sm="5" md="5">
              <v-card v-if="Object.keys(item.properties).length > 0" flat class="my-2">
                <v-card-title primary-title>
                  <span class="font-weight-bold subtitle-2">Características</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-list >
                  <div v-bind:key="index" v-for="(value, key, index) in item.properties">
                    <v-list-item>
                      <v-list-item-content>{{key}}</v-list-item-content>
                      <v-list-item-content class="align-end">{{ value }}</v-list-item-content>
                    </v-list-item>
                  </div>
                </v-list>
              </v-card>
              <v-card v-else class="my-2">
                Este material no tiene ninguna característica. <router-link :to="{name: 'MaterialsUpdate', params: {id: item.id}}"> Añadir</router-link>
              </v-card>  
            </v-col>
            <v-divider vertical inset></v-divider>
            <v-col cols="6" sm="6" md="6">
              <v-card v-if="Object.keys(item.properties).length > 0" flat class="my-2">
                <v-card-title primary-title>
                  <span class="font-weight-bold subtitle-2">Descripción</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-list >
                    <v-list-item>
                      <v-list-item-content>{{item.annotation}}</v-list-item-content>
                    </v-list-item>
                </v-list>
              </v-card>
            </v-col>
            <v-divider vertical inset></v-divider>
          </v-row>          
        </td>
      </template>

      <template v-slot:item.action="{ item, index }">
        <v-menu :nudge-width="200" offset-x :close-on-content-click="true">
          <template v-slot:activator="{ on }">
            <v-btn icon v-on="on" @click="selectedArticle = item">
              <v-icon color="black">more_horiz</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item :to="{name: 'StockList', params: {id: item.id}}">
              <span md="9">Editar stock</span>
            </v-list-item>
            <v-list-item :to="{name: 'MaterialsUpdate', params: {id: item.id}}">Modificar material</v-list-item>
            <v-list-item @click.stop="openRemoveDialog(item)">Eliminar</v-list-item>
          </v-list>
        </v-menu>
      </template>
      <template v-slot:header.totalUnits="{header}">
        {{header.text}}
        <v-tooltip v-model="showTotalUnitsInfo" top>
          <template v-slot:activator="{ on, attrs }">
            <v-btn class="mt-n5"icon v-bind="attrs" v-on="on">
              <v-icon small color="grey">info</v-icon>
            </v-btn>
          </template>
          <span>Todas las unidades del producto que hay en el inventario</span>
        </v-tooltip>
      </template>
      <template v-slot:header.averageUnitPrice="{header}">
        {{header.text}}
        <v-tooltip v-model="showAverageUnitPriceInfo" top>
          <template v-slot:activator="{ on, attrs }">
            <v-btn class="mt-n5" icon v-bind="attrs" v-on="on">
              <v-icon small color="grey">info</v-icon>
            </v-btn>
          </template>
          <span>Coste medio por unidad (sin impuestos)</span>
        </v-tooltip>
      </template>

      <template v-slot:header.totalPrice="{header}">
        {{header.text}}
        <v-tooltip v-model="showTotalPriceInfo" top>
          <template v-slot:activator="{ on, attrs }">
            <v-btn  class="mt-n5" icon v-bind="attrs" v-on="on">
              <v-icon small color="grey">info</v-icon>
            </v-btn>
          </template>
          <span>Coste total (sin impuestos)</span>
        </v-tooltip>
        
      </template>
      <template v-slot:top > 
          <v-toolbar flat >
          <v-toolbar-title class="display-1">Listado de materiales</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <div class="flex-grow-1"></div>
          <v-btn color="teal lighten-5" x-large to="/material/new">Nuevo material</v-btn>
        </v-toolbar>
        <v-card class="mt-8" elevation="2" color="yellow lighten-5" chaped>
          <span class="title ml-5">Filtros</span>
            <v-row justify="space-around">
              <v-col cols="5" md="5" class="ml-5">
                <v-row>
                  <v-col class="ml-0 my-0 py-0" cols="11" md="11">
                    <v-text-field background-color = "white" outlined dense label="Buscar en referencia, nombre o descripción" v-on:keyup="filterKeyMonitor" v-on:blur="addNewFilter" v-model="filter.search"></v-text-field>
                  </v-col>
                </v-row>
                <v-layout align-self-end >
                  <v-row class="pl-2" align-self-end>
                    <v-checkbox v-model="filter.justMinimunUnits" dense v-on:change="addNewFilter" label="Mostrar solo materiales con unidades por debajo del mínimo"></v-checkbox>
                  </v-row>
                </v-layout>
                
              </v-col>
            <v-col cols="6" md="6" class="mr-5">
              <v-card>
                <v-card-title class="subtitle-1">Característica </v-card-title>
                <v-card-text class="my-0 py-0">
                  <v-row class="my-0 py-0" justify="space-around">
                    <v-col cols="5" md="5" sm="5" class="mb-0 pb-0">
                       <v-autocomplete
                        :items="availablePropertyNames"
                        dense
                        v-model="propertyNameSearch"
                        v-on:change="changeProperty"
                        :key="propertyNameSearch"
                        label="Nombre"
                        outlined
                      ></v-autocomplete></v-col>
                    <v-col md="6"><v-autocomplete
                        :items="availablePropertyValues"
                        dense
                        v-model="propertyValueSearch"
                        :key="propertyValueSearch"
                        label="Valor"
                        outlined
                      ></v-autocomplete></v-col>
                  </v-row>
                </v-card-text>
                <v-card-actions class="my-0 py-0">
                  <div class="flex-grow-1"></div>
                  <v-btn text color="blue" @click="newPropertyFilter()">Añadir filtro</v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
            
          </v-row>
        </v-card>
        <v-row class="ml-3 mb-8">
            <v-col cols="3" sm="3" md="3" v-if="Object.keys(currentFilters).length == 0">Estás viendo <b>todos los materiales</b></v-col>
            <v-col cols="3" sm="3" md="3" v-else>Estás viendo materiales filtrados por</v-col>
            <v-col cols="9" sm="9" md="9" justify="space-between">
              <v-chip class="mr-2" color="blue" outlined close v-bind:key="key" @click:close="removeCurrentFilter(key)" v-for="(value, key) in currentFilters"> {{value}} </v-chip>
            </v-col>
          </v-row>
      </template>
    </v-data-table>

    <v-dialog v-model="showRemoveDialog" width="500">
        <v-card>
          <v-row no-gutters>
          <v-col cols="12" class="text-right" md="2" offset-md="10">
            <v-btn icon @click="showRemoveDialog = false">
              <v-icon>close</v-icon>
            </v-btn>
          </v-col>
        </v-row>
          <v-card-title primary-title>
            <span class="font-weight-bold">¿Estas seguro de eliminar: {{selectedArticle.name}}?</span>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            Si eliminas este material se eliminará todo su stock también.
          </v-card-text>
          <v-card-actions>
              <v-row class="mb-12" no-gutters>
                <v-col cols="12" class="text-right" md="3" offset-md="8">
                  <v-btn color="teal lighten-5" @click="removeMaterial()" right >Si, eliminar</v-btn>
                </v-col>
              </v-row>
          </v-card-actions>
        </v-card>
      </v-dialog>
  </div>
</template>

<script>
import Vue from "vue";
export default {
  name: "Materials",
  data: () => ({
    retrievingData: false,
    showRemoveDialog: false,
    filter: {
      search: "",
      justMinimunUnits: false,
      properties: {}
    },
    availableProperties: [],
    availablePropertyNames: [],
    availablePropertyValues: [],
    currentFilters: {},
    inventory: [],
    propertyNameSearch: null,
    propertyValueSearch: null,
    totalMaterials: 0,
    showTotalUnitsInfo: false,
    showAverageUnitPriceInfo: false,
    showTotalPriceInfo: false,
    expanded: [],
    options: {},
    headers: [
      {
        text: "Nombre",
        align: "left",
        value: "name",
        class:"nobreak"
      },
      { text: "Referencia", value: "sku", width: "15%" },
      { text: "Unidades", value: "totalUnits", width: "10%" },
      {
        text: "Coste por unidad",
        value: "averageUnitPrice",
        width: "15%"
      },
      { text: "Coste total", value: "totalPrice", width: "15%" },
      { text: 'Características y descripción', value: 'data-table-expand', width: '25%' },
      { text: 'Acciones', value: 'action', sortable: false, width:"4%" }
    ],
    selectedArticle: {properties : []}
  }),
  watch: {
    options: {
      handler() {
        this.getInventory();
      },
      deep: true
    },
    propertiesFilter: {
      handler() {
        this.addNewFilter();
      },
      deep: true
    }
  },
  mounted (){
    var that = this
     this.$http
        .get("/materials_properties")
        .then(
          function(response) {
            that.availableProperties = response.body
            that.availablePropertyNames = Object.keys(response.body)
          },
          function(error) {
            console.log(error)
          }
        );  
  },
  computed: {
    propertiesFilter() {
      return this.filter.properties
    }
  },
  methods: {
    changeProperty: function(value){
      this.availablePropertyValues = this.availableProperties[value]
    },
    removeCurrentFilter: function(key){
      Vue.delete(this.currentFilters, key)
      if(key === "search"){
        this.filter["search"] = ""
      } else if(key == "justMinimun"){
        this.filter["justMinimunUnits"] = false
      }else{
        delete this.filter.properties[key]
      }
      this.getInventory();
    },
    addNewFilter: function(){
      this.formatCurrentFilters();
      this.getInventory();
    },
    newPropertyFilter: function(){
      this.filter.properties[this.propertyNameSearch] = this.propertyValueSearch;
      this.propertyNameSearch = ""
      this.propertyValueSearch = ""
      this.addNewFilter();
    },
    formatCurrentFilters: function(){
      var that = this
      this.currentFilters = {}
      if(this.filter.search !== ""){
        this.currentFilters["search"] = this.filter.search
      }
      if(this.filter.justMinimunUnits === true){
        this.currentFilters["justMinimun"] = "Unidades por debajo del mínimo"
      }
      
      let propertiesKeys = Object.keys(this.filter.properties)
      if(propertiesKeys.length > 0){
        propertiesKeys.forEach(function(key){
          that.currentFilters[key] = `${key} igual a ${that.filter.properties[key]}`
        })
      }
    },
    openRemoveDialog: function(item, index){
      console.log(index)
      item["index"] = index
      this.showRemoveDialog = true
      this.selectedArticle = item
    },
    removeMaterial: function(){
      this.$http.delete(`/materials/${this.selectedArticle.id}`)
      .then(function(){
        var elementIndex = this.inventory.findIndex((element) => element.id === this.selectedArticle.id)
        this.inventory.splice(elementIndex,1)
        this.totalMaterials = this.totalMaterials - 1
        this.showRemoveDialog = false
      }, function(){
        this.showRemoveDialog = false
      })
    },
    filterKeyMonitor: function($event) {
       if(event.key == "Enter"){
         $event.target.blur()
       }
    },
    addPropertyFilter: function(){
      this.filter.properties[this.propertyNameSearch] = this.propertyValueSearch
      this.propertyNameSearch = null;
      this.propertyValueSearch = null;

    },
    getInventory: function() {
      this.retrievingData = true;
      const { sortBy, sortDesc, page, itemsPerPage } = this.options;
      let params = {
            sort_by: sortBy.map(function(columnName){return Vue.filter("snakeCase")(columnName)}),
            sort_desc: sortDesc,
            page,
            page_size: itemsPerPage
          }

      const paramsWithFilters =  Object.assign({}, params, this.filter)
      
      this.$http
        .get("/materials", {
          params: paramsWithFilters
        })
        .then(
          function(response) {
            this.retrievingData = false;
            this.inventory = response.body.data;
            this.totalMaterials = response.body.pagination.totalResults;
          },
          function(error) {
            this.$notify({
              group: "error",
              type:"error",
              text: "El proveedor no funciona"
            });
            this.retrievingData = false;
          }
        );  
    }
  }
};
</script>