<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
   <%= render @view_module, @view_template, assigns %>
   <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
