<template>
    <div>
      <v-container>
        <v-app-bar app height=60 color="grey lighten-3" flat >
            <v-toolbar-title class="headline text-uppercase">
                <span class="font-weight-light">Inventario.app</span>
            </v-toolbar-title>
            <v-spacer class="offset-1">
              <v-tabs color="green" background-color="grey lighten-3" height=60 left align-self="center">
                  <v-tab class="subtitle-1" to="/">Panel de control</v-tab>
                  <v-tab to="/material" class="subtitle-1">Inventario</v-tab>
                </v-tabs>
            </v-spacer>
            <v-btn
                text
                href="https://github.com/vuetifyjs/vuetify/releases/latest"
                target="_blank"
                >
                <span class="mr-2">Latest Release</span>
            </v-btn>
              
        </v-app-bar>
        
      </v-container>

        
        <v-container fluid style="width: 90%">
        
        <v-sheet elevation="5" >
          <router-view ></router-view>
          <v-row align-self="end">
            <v-col md="1" offset-md="11">
              <v-btn text id="back-button" color="primary" @click="goBack()">Volver</v-btn>
            </v-col>
          </v-row>
            
        </v-sheet>
        </v-container>
    </div>
</template>
<script>
export default {
  methods: {
    goBack: function(){
      this.$router.go(-1)
      window.scrollTo({
        top: 0,
        left: 0
      });
    }
  }
}
</script>
<style scoped>
  #back-button:before {
  display: none;
}
</style>