<h1>Sign in</h1>

<%= form_for @changeset, "/login", [as: :user], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, Pow.Ecto.Schema.user_id_field(@changeset) %>
  <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset) %>
  <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>

  <%= label f, :password %>
  <%= password_input f, :password %>
  <%= error_tag f, :password %>

  <div>
    <%= submit "Sign in" %>
  </div>
  <%= label f, :persistent_session, "Remember me" %>
  <%= checkbox f, :persistent_session %>
<% end %>


<span><%= link "Register", to: Routes.signup_path(@conn, :new) %></span>
<span><%= link("Reset password", to: Routes.pow_reset_password_reset_password_path(@conn, :new)) %></span>