<template>
  <div>
    <span class="subtitle-1">Costes añadidos</span>
    <v-data-table :headers="headers" :items="realValue" hide-default-footer class="mytable" >
      <template v-slot:body="{ items }">
          <tbody>
            <tr v-bind:key="index" v-for="(addedCost, index) in realValue">
              <td>
                <v-text-field v-model="addedCost.description" :rules="[max25chars]" single-line ></v-text-field>
              </td>
              <td>
                <v-text-field v-model.number="addedCost.price" suffix="€" single-line ></v-text-field>
              </td>
              <td>
                <v-btn icon @click="removeCost(index)">
                  <v-icon color="red">delete</v-icon>
                </v-btn>
              </td>
            </tr>
          </tbody>
      </template>
    </v-data-table>
  </div>
</template>
<script>
  export default {
    props: {
      value: {
        type: Array,
        default: function () {
            return [
              {description:"", price: 0}
            ]
        }
      }
    },
     watch: {
      value: function (updatedValue, oldValue) {
        if(updatedValue.length === 0){
          this.realValue = oldValue
        } else {
          this.realValue = updatedValue
        }
      },
      realValue: {
        handler: function (updatedValue) {
          let lastValue = this.realValue[this.realValue.length - 1]
          if(lastValue.description !== "" ){
            this.realValue.push({description:"", price: 0})
          }
          this.$emit('update', updatedValue)
        },
        deep: true
      }
    },
    data () {
      return {
        max25chars: v => v.length <= 25 || 'Input too long!',
        pagination: {},
        headers: [
          {
            text: 'Nombre',
            align: 'left',
            sortable: false,
            value: 'description',
            class: "subtitle-1"
          },
          { text: 'Coste (sin impuestos)', value: 'price', align: 'left', sortable: false, class: "subtitle-1", width: "30%"},
          { text: '', align: 'left', sortable: false, width:"5%"}

        ],
        realValue: this.value
      }
    },
    methods: {
      removeCost: function(index){
        if(this.realValue.length > 1){
          this.realValue.splice(index,1)
        } else {
          this.realValue.splice(0,1, {description:"", price:""})
        }
      }
    },
  }
</script>
<style>
  table th + th { border-left:1px solid #dddddd; }
  table td + td { border-left:1px solid #dddddd; }
  .mytable table tr {
    background-color: #EFEBE9;
    border-bottom: none;
  }
  .actions {
    background-color: #EFEBE9;
  }
</style>