<template>
  <div>
    <span class="subtitle-1">Características</span>
    <v-data-table :headers="headers" :items="realValue" hide-default-footer class="mytable" >
    <template v-slot:body="{ items }">
        <tbody>
          <tr v-bind:key="index" v-for="(characteristic, index) in realValue">
            <td>
              <v-text-field
                v-model="characteristic.name"
                :rules="[max25chars]"
                single-line
              ></v-text-field>
            </td>
            <td>
              <v-text-field
                v-model="characteristic.value"
                :rules="[max25chars]"
                single-line
              ></v-text-field>
            </td>
            <td>
              <v-btn icon @click="removeCharacteristic(index)">
                <v-icon color="red">delete</v-icon>
              </v-btn>
            </td>
          </tr>
        </tbody>
    </template>
    </v-data-table>
  </div>
</template>
<script>
  export default {
    props: {
      value: {
        type: Array,
        default: function () {
            return [
              {name:"", value:""}
            ]
        }
      }
    },
     watch: {
      value: function (updatedValue) {
        this.realValue = updatedValue
      },
      realValue: {
        handler: function (updatedValue) {
          let lastValue = this.realValue[this.realValue.length - 1]
          if(lastValue.name !== "" && lastValue.value !== ""){
            this.realValue.push({name:"", value:""})
          }
          this.$emit('update', updatedValue)
        },
        deep: true
      }
    },
    data () {
      return {
        max25chars: v => v.length <= 25 || 'Input too long!',
        pagination: {},
        headers: [
          {
            text: 'Nombre',
            align: 'left',
            sortable: false,
            value: 'name',
            class: "subtitle-1"
          },
          { text: 'Valor', value: 'value', align: 'left', sortable: false, class: "subtitle-1"},
          { text: '', align: 'left', sortable: false, width:"5%"}

        ],
        realValue: this.value
      }
    },
    methods: {
      removeCharacteristic: function(index){
        this.realValue.splice(index,1)
      }
    },
  }
</script>
<style>
  table th + th { border-left:1px solid #dddddd; }
  table td + td { border-left:1px solid #dddddd; }
  .mytable table tr {
    background-color: #EFEBE9;
    border-bottom: none;
  }
  .actions {
    background-color: #EFEBE9;
  }
</style>