<template>
    <div>
        <v-tabs color="blue" height=30 class="mb-5" centered>
          <v-tab to="/material" class="subtitle-1">Materiales</v-tab>
          <v-tab to="/product" class="subtitle-1">Productos</v-tab>
        </v-tabs>
        <v-responsive :aspect-ratio="16/6" class="mt-9">
          <router-view ></router-view>
        </v-responsive>
    </div>
</template>
