<template>
  <div>
    <div id="stock">
      <v-data-table
        :headers="headers"
        :items="stock"
        class="elevation-1"
        item-key="id"
        :loading="retrievingData"
        :calculate-widths=true
        :disable-pagination=true      >
          <template v-slot:progress>
            <v-progress-linear color="blue lighten-2" :height="10" indeterminate></v-progress-linear>
          </template>

          <template v-slot:top> 
            <v-toolbar flat color="white">
              <v-toolbar-title class="display-1">StockModel de {{material.name}}</v-toolbar-title>
              <v-divider class="mx-4" inset vertical></v-divider>
              <div class="flex-grow-1"></div>
              <v-btn color="teal lighten-5" x-large :to="{name: 'StockNew', params: {id: material.id}}">Añadir</v-btn>
            </v-toolbar>
          </template>

          <template v-slot:no-data>Vaya, parece que este material no tienes unidades, <router-link :to="{name: 'StockNew', params: {id: material.id}}">añadelas ahora.</router-link></template>

        <template v-slot:item.acquisitionDate="{ item }"> {{item.acquisitionDate | date}}</template>
        <template v-slot:item.units="{ item }"> {{item.units | decimals}}</template>
        <template v-slot:item.unitPrice="{ item }"> {{item.unitPrice | currency}}</template>
        <template v-slot:item.totalAddedCost="{ item }"> {{item.totalAddedCost | currency}}</template>
        <template v-slot:item.totalUnitPrice="{ item }"> {{item.totalUnitPrice | currency}}</template>
        <template v-slot:item.totalPrice="{ item }"> {{item.totalPrice | currency}}</template>

        <template v-slot:item.action="{ item, index }">
         <v-btn icon :to="{name: 'StockUpdate', params: {material_id: material.id, id: item.id}}">
            <v-icon color="green">edit</v-icon>
          </v-btn>
          <v-btn icon @click="openRemoveStockDialog(item, index)">
            <v-icon color="red">delete</v-icon>
          </v-btn>
        </template>

      </v-data-table>
      <v-dialog v-model="showRemoveStockDialog" width="500">
        <v-card>
          <v-row no-gutters>
          <v-col cols="12" class="text-right" md="2" offset-md="10">
            <v-btn icon @click="showRemoveStockDialog = false">
              <v-icon>close</v-icon>
            </v-btn>
          </v-col>
        </v-row>
          <v-card-title primary-title>
            <span class="font-weight-bold">¿Eliminar estas unidades?</span>
          </v-card-title>
          <v-divider></v-divider>
          <v-list>
            <v-list-item>
              <v-list-item-content>Fecha de adquisición</v-list-item-content>
              <v-list-item-content>{{ selectedAcquisition.acquisitionDate | date}}</v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>Unidades</v-list-item-content>
              <v-list-item-content>{{ selectedAcquisition.units | decimals}}</v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>Precio por unidad</v-list-item-content>
              <v-list-item-content>{{ selectedAcquisition.unitPrice | currency}}</v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>Coste total</v-list-item-content>
              <v-list-item-content>{{ selectedAcquisition.totalPrice | currency}}</v-list-item-content>
            </v-list-item>
          </v-list>
          <v-card-actions>
              <v-row class="mb-12" no-gutters>
                <v-col cols="12" class="text-right" md="3" offset-md="8">
                  <v-btn color="teal lighten-5" @click="removeFromStock()" right >Eliminar</v-btn>
                </v-col>
              </v-row>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>
<script>

export default {
  data () {
    return {
      showRemoveStockDialog: false,
      material: {id: 0, name: '', sku: '' },
      stock: [],
      retrievingData: false,
      defaultStock: {

      },
      selectedAcquisition: {
        acquisitionDate: new Date(),
        units: 0,
        unitPrice: 0,
        totalPrice: 0
      },
      headers:[
        {
          text: "Fecha de adquisición",
          value: "acquisitionDate"
        },
        {
          text: "Unidades",
          value: "units"
        },
        {
          text: "Precio por unidad",
          value: "unitPrice"
        },
        {
          text: "Coste añadido",
          value: "totalAddedCost"
        },
        {
          text: "Precio medio por unidad",
          value: "totalUnitPrice"
        },
        {
          text: "Coste total",
          value: "totalPrice"
        },
        { text: 'Acciones', value: 'action', sortable: false },
      ]
    }
  },
  methods: {
    openRemoveStockDialog: function (acquisition, index) {
      acquisition["index"] = index
      this.selectedAcquisition = acquisition
      this.showRemoveStockDialog = true
    },
    removeFromStock: function(){
      this.$http.delete(`/materials/stocks/${this.selectedAcquisition.id}`)
      .then(function(){
        this.stock.splice(this.selectedAcquisition.index,1)
        this.showRemoveStockDialog = false
      }, function(){
        this.showRemoveStockDialog = false
      })
    },
    getStock: function () {
      let url = '/materials/' + this.$route.params.id + '/stocks'
      this.retrievingData = true;
      this.$http
        .get(url, {
          params: {}
        }).then(
          function(response) {
            this.retrievingData = false;
            this.stock = response.body.data;
          },
          function(error) {
            console.log(error);
            this.$notify({
              group: "error",
              text: "no se puede cargar el stock"
            });
            this.retrievingData = false;
          }
        );

    },
    getMaterial: function () {
      var itemId = this.$route.params.id
      this.$http.get('/materials/' + itemId + '/simplified').then(function (response) {
        this.material = response.body.data
      }, function () {
        this.$notify({
          group: 'error',
          text: "algo va mal en el servidor"
        })
      })
    }
  },
  mounted () {
    this.getMaterial()
    this.getStock()
  }
}
</script>
<style lang='scss' >

</style>
