<template>
    <v-form >
      <v-row class="d-flex justify-end">
        <v-col md="6" >
          <v-menu
            v-model="datemenu"
            :close-on-content-click="false"
            max-width="290"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                :value="format_date"
                label="Fecha de adquisión"
                readonly
                v-on="on"
                outlined
              ></v-text-field>
            </template>
            <v-date-picker
              locale="es-es"
              first-day-of-week="1"
              no-title
              v-model="realValue.acquisitionDate"
              @change="datemenu = false"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
    <v-row>
        <v-col cols="12" md="6" >
          <v-text-field
            md="2"
            v-model.number="realValue.units"
            label="Unidades"
            outlined
          />
        </v-col>
        <v-col cols="12" md="6" >
          <v-text-field
            md="2"
            v-model.number="realValue.unitPrice"
            label="Coste por unidad (sin impuestos)"
            suffix="€"
            outlined
          />
        </v-col>
        
      </v-row>
      <v-row>
        <v-col>
          <added-costs v-model="realValue.addedCosts" @update="addedCostsUpdated"></added-costs>
        </v-col>
      </v-row>
      <v-row >
        <v-col cols="12" md = "12">
          <v-sheet color="#FFFDE7">
            <v-row>
              <v-col>
                <label class="title pl-6">Coste neto</label>
              </v-col>
              <v-col>
                <label class="title pr-6 float-right">{{totalUnitsPrice | currency}}</label>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <label class="title pl-6">Coste añadido</label>
              </v-col>
              <v-col>
                <label class="title pr-6 float-right">{{addedCostPrice | currency}}</label>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <label class="title pl-6">Coste total</label>
              </v-col>
              <v-col>
                <label class="title pr-6 float-right">{{totalPrice | currency}}</label>
              </v-col>
            </v-row>
          </v-sheet>
        </v-col>
      </v-row>
      
  </v-form>
</template>

<script>
import addedCosts from '../AddedCosts'
import moment from 'moment'
export default {
  props: {
      value: {
        type: Object,
        default: function () {
            return {
              acquisitionDate: new Date().toISOString().substr(0, 10),
              addedCosts: [
                {description: '', price: 0.00}
              ],
              units: 0.0,
              total: 0.0,
              unitPrice: 0.0
            }
        }
      }
  },
  computed: {
    format_date () {
      return this.realValue.acquisitionDate ? moment(this.realValue.acquisitionDate).format('DD-MM-YYYY') : ''
    },
    totalUnitsPrice () {
      return (this.realValue.units * this.realValue.unitPrice)
    },
    addedCostPrice () {
      return this.addedCostSummatory()
    },
    totalPrice () {
      return (this.realValue.units * this.realValue.unitPrice) + this.addedCostSummatory()
    }
  },
  watch: {
    value: function (updatedValue) {
      this.realValue = updatedValue
    },
    realValue: {
      handler: function (updatedValue) {
        this.$emit('update', updatedValue)
      },
      deep: true
    }

  },
  components: {
    addedCosts
  },
  data: function(){
    return {
      datemenu: false,
      realValue: this.value
    }
  },
  methods: {
    addedCostsUpdated: function(value){
      this.realValue.addedCosts = value
    },
    addedCostSummatory: function () {
      return this.realValue.addedCosts.reduce((total, cost) => {
        return total + Number(cost.price)
      }, 0)
    },
  }
}
</script>

<style>

</style>