<template>
  <v-container>
    <span class="display-1 ">Añadir al stock de {{material.name}}</span>
    <stock-form v-model="stock"></stock-form>
    <v-row align-self="end">
      <v-col class="text-right">
        <v-btn color="teal lighten-5" x-large v-on:click="saveStock">Guardar</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import stockForm from './StockForm'
export default {
  components: {
    stockForm
  },
  data: function(){
    return {
      material: {id: 0, name: '', sku: '' },
      stock: {
              acquisitionDate: new Date().toISOString().substr(0, 10),
              addedCosts: [
                {description: '', price: 0.00}
              ],
              units: 0.0,
              total: 0.0,
              unitPrice: 0.0
            }
    }
  }, 
  methods : {
    saveStock: function(){
      var itemId = this.$route.params.id
      this.$http.post(`/materials/${itemId}/stocks/new`, {stock: this.generateBody()}).then(response => {
        this.$router.go(-1)
      }, response => {

      })
    },
    getMaterial: function () {
      var itemId = this.$route.params.id
      this.$http.get('/materials/' + itemId + '/simplified').then(function (response) {
        this.material = response.body.data
      }, function () {
        this.$notify({
          group: 'error',
          text: "algo va mal en el servidor"
        })
      })
    },
    generateBody: function () {
      let body = this.stock
      body['added_costs'] = this.stock.addedCosts.filter(function (addedCost) { return addedCost.description !== '' })
      return body
    },
  },
  mounted () {
    this.$emit('tabs', 'Inventory')
    this.getMaterial()
  }
}
</script>

<style>

</style>